.setting {
    width: calc(100vw - 248px);
    padding: 40px 24px;
    background-color: rgb(247, 242, 242);

    @media screen and (max-width: 900px) {
        width: 100vw;
    }

    &_container {
        @media screen and (min-width: 768px) {
            padding: 0 calc(8% - 24px);
        }
    }
}