.text-color {
    color: rgb(48, 48, 48);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 48px;
}

.free {

    &_resultDisplay {
        position: relative;
        padding: 24px 32px;
        margin-bottom: 32px;
        background-color: #fff;
        border-radius: 4px;

        &Container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 340px;
        }
    }

    &_resultTitle {
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 16px;
        @extend .text-color;
    }

    &_correctRateTitle {
        user-select: none;
    }

    &_pageButtons {
        display: flex;
        justify-content: center;
    }

    &_before, &_next {
        background-color: rgb(184, 184, 184);
        color: rgb(255, 255, 255);
        margin-top: 12px;

        &:hover {
            background-color: rgb(184, 184, 184);    
        }

        &:disabled {
            background-color: rgb(218, 206, 200);
        }
    }

    &_next {
        background-color: rgb(184, 184, 184);
        margin-left: 8px;
    }

    &_resultButtonWrapper {
        display: flex;
        justify-content: center;
        margin-top: 24px;

        &Icon {
            font-size: 40px;
        }
    }

    &_resultButton {
        display: block;
        width: 180px;
        background-color: rgb(240, 119, 49);
        color: rgb(255, 255, 255);

        &Icon {
            font-size: 40px;
        }

        &:hover {
            background-color: rgb(248, 135, 69);
        }

        &:disabled {
            background-color: rgb(218, 206, 200);
        }
    }
}