.text-color {
    color: rgb(243, 235, 235);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 48px;
}

.firC {
    background-color: rgb(240, 119, 49);
    min-height: calc(100vh - 120px);
    padding-top: 120px;
    overflow: hidden;
    position: relative;
    
    &_container {
        max-width: 960px;
        margin: auto;
        padding: calc(50vh - 300px) 0 72px;
        position: relative;

    }

    &_title {
        display: flex;
        font-weight: 600;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 48px;
        letter-spacing: 1px;
        @extend .text-color;
        position: relative;
        z-index: 5;
    }

    &_description {
        @extend .text-color;
        margin-bottom: 24px;
        position: relative;
        z-index: 5;
    }

    &_start {
        display: block;
        width: 144px;
        margin: auto;
        padding: 12px 16px;
        text-align: center;
        background-color: rgb(24, 10, 1);
        text-decoration: none;
        border-radius: 4px;
        @extend .text-color;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.9;
        }
    }

    &_vocabularyBox {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
    }

    &_vocabulary {
        z-index: 3;
        user-select: none;
    }

    &_vocabulary_shadow {
        position: absolute;
        top: 8px;
        left: 37.8%;
        z-index: 2;
    }

    &_horizontal {
        position: absolute;
        width: 200vw;
        height: 96px;
        bottom: -50%;
        background-color: rgb(239, 180, 143);
    }

    &_vertical {
        position: absolute;
        width: 96px;
        height: 200vh;
        left: 10%;
        background-color: rgb(239, 180, 143);

    }

    &_vocabulary {
        position: absolute;
        bottom: -320px;
        right: -230px;
        color: #fca262;
    }

    &_english {
        position: absolute;
        bottom: -150px;
        left: 100px;
        color: #fca262;
        z-index: 12;
        user-select: none;
    }
}