.alert {
    position: absolute;
    top: 12px;
    right: 24px;
    user-select: none;

    &_success {
        background-color: rgb(121, 201, 92);
    }

    &_error {
        background-color: rgb(231, 82, 82);
    }
}